/* Add your CSS styles here */

.container {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
  }
  

  .camera-container {
    margin-top: 30px;
  }
  
  #liveCameraFeed {
    width: 100%;
    border: 1px solid #ccc;
  }
  